Hypothesis testing 
chi-square

In [1]:
# import the libarary 
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency, chi2 # scipy.stats if for calculating the chi2[chi-square test]

In [2]:
# create the data 
data = np.array([
    [50,70,120],
    [80,100,180],
    [60,90,150],
    [30,50,80],
    [20,50,70]
])

In [4]:
# know create the index name and column name using dictionary
df = pd.DataFrame(data,
                 index = ['Very Satisfied','Statisfied','Neutral','Unsatisfied','Very Unsatisfied'],
                 columns = ['Smart Thermostat','Smart Light','Total'])

In [5]:
df # the data set will created know we have to calculate the chi-square test

                  Smart Thermostat  Smart Light  Total
Very Satisfied                  50           70    120
Statisfied                      80          100    180
Neutral                         60           90    150
Unsatisfied                     30           50     80
Very Unsatisfied                20           50     70

In [22]:
# we want only two columns samart thermostat and smart light
data = df.iloc[:,0:2] 
data

                  Smart Thermostat  Smart Light
Very Satisfied                  50           70
Statisfied                      80          100
Neutral                         60           90
Unsatisfied                     30           50
Very Unsatisfied                20           50

In [23]:
# caluculate the chi-square for independent value
chi2_contingency(data)

Chi2ContingencyResult(statistic=5.638227513227513, pvalue=0.22784371130697179, dof=4, expected_freq=array([[ 48.,  72.],
       [ 72., 108.],
       [ 60.,  90.],
       [ 32.,  48.],
       [ 28.,  42.]]))

In [24]:
# test statistic, p-value,df,expected frequency
chi2,p,dof,exp=chi2_contingency(data)

In [25]:
chi2

5.638227513227513

In [26]:
p # p-value

0.22784371130697179

In [27]:
dof # degree of freedom

4

In [28]:
exp # expected frequency

array([[ 48.,  72.],
       [ 72., 108.],
       [ 60.,  90.],
       [ 32.,  48.],
       [ 28.,  42.]])

In [29]:
# know we will use the alpha value 0.05.
a = 0.05 # it is the fixed value

In [33]:
# using alpha value so we know the it accept the null hypothesis or reject the null hypothesis
# using if else condition we will use it
if(p<a):
    print("Reject null hypothesis.")
else:
    print("Accept null hypothesis.")

Accept null hypothesis.

In [ ]:
'''conclusion of the assignment
we have to calculate the chi-square test for how independented variable is depent on dependented variable .
And also calculate the degree of fredom , epected frequency and p-value for compare with alpha so we need to know about the 
null hypothesis is acept or reject'''